body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  width: 100px;
  margin: 12px auto;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
}